<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>GwbProject</display-name>
	<servlet>
		<servlet-name>BaseAction</servlet-name>
		<servlet-class>com.gwb.lee.action.BaseAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AndroidAction</servlet-name>
		<servlet-class>com.gwb.lee.action.AndroidAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AndroidLoginAction</servlet-name>
		<servlet-class>com.gwb.lee.action.AndroidLoginAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IosAction</servlet-name>
		<servlet-class>com.gwb.lee.action.IosAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IosLoginAction</servlet-name>
		<servlet-class>com.gwb.lee.action.IosLoginAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>com.gwb.lee.action.LoginAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminAction</servlet-name>
		<servlet-class>com.gwb.lee.action.AdminAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AndroidAction</servlet-name>
		<url-pattern>/AndroidAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidLoginAction</servlet-name>
		<url-pattern>/AndroidLoginAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IosAction</servlet-name>
		<url-pattern>/IosAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IosLoginAction</servlet-name>
		<url-pattern>/IosLoginAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminAction</servlet-name>
		<url-pattern>/AdminAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/LoginAction</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.gwb.lee.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/AdminAction*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/main.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.gwb.lee.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AppMacFilter</filter-name>
		<filter-class>com.gwb.lee.filter.AppMacFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AppMacFilter</filter-name>
		<url-pattern>/IosAction</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AppMacFilter</filter-name>
		<url-pattern>/AndroidAction</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>